{% extends "listView.html" %}

{% block listView %}  

    <table class="table table-striped" cellspacing="0" cellpadding="0">        
        <thead>
            <tr>
                <th>Número</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for cartaocredito in object_list %}                    
                <tr>
                    <td><a href="{% url 'financas:cartaocredito_update' pk=cartaocredito.pk %}">{{ cartaocredito.numero }}</a></td>
                    <td><a href="{% url 'financas:cartaocredito_update' pk=cartaocredito.pk %}">{{ cartaocredito.nome }}</a></td>
                    <td><a class="btn btn-warning btn-xs" href="{% url 'financas:cartaocredito_update' pk=cartaocredito.pk %}">Editar</a>
                        <a class="btn btn-danger btn-xs"  href="{% url 'financas:cartaocredito_delete' pk=cartaocredito.pk %}" >Excluir</a></td>
                </tr>
            {% empty %}
                <tr>
                    <li>Nenhum Cartão de Crédito Cadastrado</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>  

{% endblock %}