{% extends "listView.html" %}

{% block listView %}  

    <table class="table table-striped" cellspacing="0" cellpadding="0">            
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for classificacao in object_list %}                    
                <tr>
                    <td><a href="{% url 'financas:classificacao_update' pk=classificacao.pk %}">{{ classificacao.id }}</a></td>
                    <td><a href="{% url 'financas:classificacao_update' pk=classificacao.pk %}">{{ classificacao.nome }}</a></td>
                    <td><a class="btn btn-warning btn-xs" href="{% url 'financas:classificacao_update' pk=classificacao.pk %}">Editar</a>
                        <a class="btn btn-danger btn-xs"  href="{% url 'financas:classificacao_delete' pk=classificacao.pk %}" >Excluir</a></td>
                </tr>
            {% empty %}
                <tr>
                    <li>Nenhuma classificação encontrado</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}