{% extends "listView.html" %}

{% block listView %}      
            
    <table class="table table-striped" cellspacing="0" cellpadding="0">       
        <thead>
            <tr>                
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for conta in object_list %}                    
                <tr>
                    <td><a href="{% url 'financas:conta_update' pk=conta.pk %}">{{ conta.nome }}</a></td>
                    <td><a class="btn btn-warning btn-xs" href="{% url 'financas:conta_update' pk=conta.pk %}">Editar</a>
                        <a class="btn btn-danger btn-xs"  href="{% url 'financas:conta_delete' pk=conta.pk %}" >Excluir</a></td>
                </tr>
            {% empty %}
                <tr>
                    <li>Nenhuma conta encontrada</li>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}