<html>
<head></head>
<title></title>
    <div>
        <form class="" method="post">
            {% csrf_token %}
            {% if success %}
                <p>Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
                <li><a href="{% url 'accounts:dashboard' %}">Editar cadastro</a></li>
            {% endif %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="">
                    <button type="submit" class="btn btn-primary">Enviar E-mail</button>
                </div>
            </fieldset>
        </form>
    </div>
</html>